.rw-conversation-container{
  box-shadow: 0 1px 1.5px -1px rgba(0,0,0,.048), 0 2.5px 3.7px -1px rgba(0,0,0,.069), 0 5px 7px -1px rgba(0,0,0,.05), 0 9.7px 12.5px -1px rgba(0,0,0,0.101), 0 3.7px 23.4px -1px rgba(0,0,0,.02), 0 24px 56px -1px rgba(0,0,0,0.07)!important;
}
.rw-conversation-container .rw-new-message{
  font-size: 14px!important;
}

.rw-conversation-container .rw-header.rw-with-subtitle .rw-title{
  top: 16px!important;
}

.rw-conversation-container .rw-header.rw-with-subtitle span{
  font-size: 14px!important;
  color: #ffffffab!important;
}

.rw-widget-container .rw-launcher{
  background-color: #365a85;
  box-shadow: 0 0px 7px 1px #2020204f;
  height: 64px;
  width: 64px;
  padding: 0px;
}


.rw-widget-container.rw-chat-open{
  webkit-animation-delay: 0;
  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: .5s;
  -moz-animation-name: slide-in;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: .5s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
  border-radius: 10px;
}

.rw-chat-open .rw-launcher{
  background-color: #efefef;
  padding: 10px;
}

.rw-group-message.rw-from-client{
  .rw-message.rw-with-avatar
  .rw-client{
    border-top-right-radius: 0;
    max-width: 70%!important;
    position: relative;
    right: 33px;
  }
  .rw-client::before{
    content: '';
    visibility: visible;
    background-image: url('../Assets/user.svg');
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -8px;
    right: -34px;
    border: 3px solid #ffffff;
    border-radius: 14px;
    box-shadow: 0px 2px 6px 0px #778b5e28;
  }
}


.rw-conversation-container .rw-avatar{
  height: 30px!important;
  width: 30px!important;
  border: 2px solid #a7cfff;
  padding: 2px;
  box-shadow: 0px 2px 6px 0px #3e3c3e1a;
}

.rw-group-message.rw-from-client span.rw-message-date {
  margin-right: 29px!important;
  margin-top: 1px!important;
  font-size: 10px!important;
}

.rw-group-message.rw-from-response span.rw-message-date {
  margin-left: 25px!important;
  margin-top: 1px!important;
  font-size: 10px!important;
}

.rw-conversation-container .rw-message-text{
  font-size: 14px;
}

.rw-open-launcher{
  content: url('../Assets/bot.png');
  position: relative;
  top: 2px;
  padding: 12px;
}

.rw-launcher img {
  max-height: 100%!important;
  height: 100%!important;
  width: 100%!important;
}

.rw-conversation-container .rw-header{
  background-image: linear-gradient(to right, #325b8e 19%, #152b4b 81%);
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}

.rw-conversation-container .rw-title{
  color: #fff!important;
  font-weight: 400!important;
  font-size: 17px!important;
}

.rw-conversation-container .rw-sender{
  padding: 11px 5px!important;
}

.rw-conversation-container .rw-sender, 
.rw-conversation-container .rw-new-message,
.rw-conversation-container .rw-send{
  background-color: #EEEEEE!important;
}

.rw-conversation-container .rw-response{
  box-shadow: 0px 2px 2px 0px #3e3c3e1a;
  padding: 7px 18px !important;
}

.rw-conversation-container .rw-client{
  background-color: #607088!important;
  box-shadow: 0px 3px 3px 0px #715e8b41;
  padding: 7px 18px !important;
}

.rw-conversation-container .rw-send .rw-send-icon-ready{
  fill: #01A99C!important;
}

@media screen and (max-width: 800px){
  .rw-conversation-container .rw-close-button{
    width: 50px!important;
  }
  .rw-conversation-container .rw-close {
    width: 40px!important;
    height: 40px!important;
    padding-top: 3px;
  }
}