.backgroundimage{
    // background-image: url('../Assets/demoBot.jpg');
    // background-size:100% 100%;
    // background-repeat: no-repeat;
}
.container{
    background-color:transparent;
}

h3{
    border-style: solid;
    background-color: black;
    color: white;
}

h4{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
p{
    text-indent: 50px;
    font-style: oblique;
    font-size: 20px;
    font-weight: 800px;
}
h5{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 20px;
    font-weight: 400px;
}
